@(gifs: java.util.List[models.Image])

@import helper._

@main("These are your gifs") {
    <h1>@gifs.size gifs</h1>
    <ul>
        @for(gif <- gifs) {
            <li data-id="@gif.id">
                <a href="/gifs/@gif.id"><img src="/gifs/@gif.id/thumbnail" /></a>
                <p><em>Name</em>: @gif.getName</p>
                <p><em>Path</em>: @gif.getFilePath</p>
                <p><em>Mime-type</em>: @gif.getMimeType</p>
                <span>@gif.getDownloads downloads</span>
            </li>
        }
    </ul>
}
